{% extends "products/base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h1>Contact Us</h1>
    <p>If you have any questions, feel free to reach out to us. We're here to help!</p>
    
    <h3>Our Contact Information:</h3>
    <ul>
        <li><strong>Email:</strong> alokxshaw2003@gmail.com</li>
        <li><strong>Phone:</strong> +91 9386421209</li>
        <li><strong>Address:</strong> 123 Tech Lane, Dehradun, Uttarakhand, India (Placeholder)</li>
    </ul>
{% endblock %}